
#wrapper{
  border: 1px solid #aeaeae; 
  background-color: #eaeaea; 
  width: 500px; 
  height: 500px;
  position : relative;

}

#wrapper > div{
  bottom: 0px;
  position : absolute;
  margin: 1px;
  display : inline-block; 
  
 }

 #wrapper  p {
 	transform: rotate(90deg);
 }