body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

xmp {
    font-size: 1.2em;
}
iframe {
    width: 100%;
}

div {
    padding: 10px;
    display: inline;
    width: auto;
    flex-grow: 1;
}

.content {
    display: flex;
}

div.buttons {
    width: min-content;
    float: left; 
}

div.outInfo {
    float: right;
    width: 70%;
}

.butlab {
    background-color: #801313;
    border: none;
    color: white;
    padding: 15px;
    font-size: 14px;
    text-align: center;
    display: block;
    margin: 5px;
    cursor: pointer;
    width: 100%;
}

p {
    text-indent: 25px;
}
