body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

div {
    padding: 10px;
}

.horizon {
    float: left;

}
.center1 {
    width: 800px;
    margin: 0 auto;
}
.center1 img {
    display: block;
    
   
}
.marg_test  {
    margin: 0 1500px 0 350px;
    width: 150px;
    background-color: #00e023;
}
.float_test {
    margin: 15px;
    float: left;
    background-color: gold;
    border-radius: 10px;
}
