body {
	font-family: Arial;
	font-weight: bold;
}

button {
	border: none;
	background-color: #ffe200;
	font-weight: bold;
	border-radius: 5px;
}

hr {
	display: block;
	border-color: antiquewhite;
	color: #ff0000;
	size: 1;
	width: 70%;
}

ol {
	text-align: left;
	width: 100%;
	height: 100%;
}
ul {
	width: 100%;
	height: 100%;
	list-style-type: none;
}
 li {
 	width: 80%;
 	margin-bottom: 10px;
 	font-size:1em;

 }
.container {
	width: 85%;
	height: 600px;
	margin: 0 auto;
	text-align: center;
}

.header {
	background-color: white;
}
.header img {
	width: 100%;
}

.logo h2{
	margin-bottom: 0;
	color: #ff9638;
}
.logo h1{
	margin-top: 0;
}

.header1 {
	padding: auto;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.headitem {
	background-color: black;
	width: 19%;
	height: 2em;
	padding-top: 1em;
}
.headitem a {
	text-decoration: none;
	color: white;
	size: 10em;
}

.itemRow {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.itemColumn {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	background-color: white;
	border-radius: 7px;
	height: 30em;
	width: 25%;
}

.itemColumn li {
	font-weight: normal;
}
.itemColumn h5 {
	color: #3298f2;
	margin-bottom: 2%;
}
.itemColumn h1 {
	color: #3298f2;
	margin: 0;
}
.itemColumn button {
	height: 15%;
	width: 50%;
}



.stats {
	background-color: #3298f2;
	padding-bottom: 10px;
	margin-bottom: 3em;
}
.stats1 {
	width: 20%;
	height: 2em;
	margin-top: ;
	background-color: #ffe200;
	margin-bottom: 2em;
}

.butlab {
	width: 60%;
	height: 20%;
	margin: 0 auto;
	margin-bottom: 10%;
}

.text {
	padding: 0 10px;
}

.study {
	background-color: #3298f2;
	margin: 0 auto;

}
.column1 {
	width: 25%;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	text-align: left;
	padding-top: 10em;
}
.column1 h2{
	margin: 0;
}
.column1 h4{
	margin: 0;
}

.study button {
	margin: 0 auto;
	margin-top: 5em;
	height: 2em;
	width: 40%;
}